*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#productCard{
    height: 350px;
    width: 900px;
    margin: auto;
    padding: 30px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    background-color: white;
    /* border: 2px solid red; */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

#productCard>#prodDesc{
    width: 500px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-size: 14px;
}

#productCard>#cardImage{
      background-color: white;
    /* border: 2px solid red; */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    
}

#productCard>#prodDesc>#addBack>button{
    height: 30px;
    width: 100px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}

#productCard>#prodDesc>#addBack>button:hover{
    cursor: pointer;
}

#productCard>#prodDesc>#addBack>button:nth-child(1){
    background-color: orangered;
}

#productCard>#prodDesc>#addBack>button:nth-child(2){
    background-color: gray;
}

#customerReviews{
    width: 900px;
    padding: 20px;
    margin: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    border-radius: 20px;
}

#customerReviews>h2{
    line-height: 40px;
}


